// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Sonsie+One);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700,400);
body, html {
  height: 100%;
  padding-top:25px;
}

#homecontenair{
  margin-top: 0px;
  padding:0;
  background-image: asset-url('bg.png'); 
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
  height: 100%;
  font-family: 'Droid Sans', sans-serif;

}

.navbar {
   font-family: 'Droid Sans', sans-serif;
}

#title{
 font-family: 'Dancing Script', cursive;
  text-shadow: 1px 1px  2px black;
}

#homecontent{
	padding-top:150px;
	text-align: center;


}

#secondcontent{
height: 200px;
text-align: center;

}

#icone{
	padding-top: 20px;
}

#textcontent{
	padding-top: 20px;
  font-family: 'Droid Sans', sans-serif;

}

#joinus{
	text-align: center;
	margin-top:30px;
  
}

#try{
	border: 1px solid red;
	-moz-border-radius: 4px;
    border-radius: 4px;
    background-image: asset-url('raf.jpg');
    color: white;
    height: 105px;
    
    padding-top: 2%;
}

#blank{
height: 70px;
}

#foot{
	padding-top: 15px;
}

#border{
	border: 1px solid red;
}

#joindiscover{
 font-family: 'Droid Sans', sans-serif;
 font-size: 25px;
 text-shadow: 1px 1px  2px black;
 padding-top: 5px;
}

#margin{

margin: 0 auto;

}

#margintop{
  margin-top: 6%;
}

#pins {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  width: 100%;
}

.container{
  min-height: 100%;
}

#back{
  text-align: right;
}

#intheshow{
  margin-top: 3%;

}

#showtime{
  background-color: white;
  -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 0px 15px #888888;

}

#indexmidi{
  margin-top: 30px;
}

